package home

templ cssScopeInline() {
	<script>
		window.cssScopeCount ??= 1
		window.cssScope ??= new MutationObserver(mutations => {
			document?.body?.querySelectorAll('style:not([ready])').forEach(node => {
				var scope = 'me__'+(window.cssScopeCount++)
				node.parentNode.classList.add(scope)
				node.textContent = node.textContent
				.replace(/(?:^|\.|(\s|[^a-zA-Z0-9\-\_]))(me|this|self)(?![a-zA-Z])/g, '$1.'+scope)
				.replace(/((@keyframes|animation:|animation-name:)[^{};]*)\.me__/g, '$1me__')
				.replace(/(?:@media)\s(xs-|sm-|md-|lg-|xl-|sm|md|lg|xl|xx)/g,
				(match, part1) => {
					return '@media '+({'sm':'(min-width: 576px)','md':'(min-width: 768px)', 'lg':'(min-width: 992px)', 'xl':'(min-width: 1200px)', 'xxl':'(min-width: 1400px)'}[part1])
				})
				node.setAttribute('ready', '')
			})
		}).observe(document.documentElement, {childList: true, subtree: true})
	</script>
}
