package home

import "strconv"

templ home(offset int, limit int) {
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ShiftBell</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	</head>
		<body>
			<nav class="navbar bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">
						<svg width="30" height="24" class="d-inline-block align-text-top" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<path fill="#000000" fill-rule="evenodd" d="M4,4 L9,4 C9.55228,4 10,3.55228 10,3 C10,2.44772 9.55228,2 9,2 L4,2 C2.89543,2 2,2.89543 2,4 L2,12 C2,13.1046 2.89543,14 4,14 L12,14 C13.1046,14 14,13.1046 14,12 L14,10 C14,9.44771 13.5523,9 13,9 C12.4477,9 12,9.44771 12,10 L12,12 L4,12 L4,4 Z M15.2071,2.29289 C14.8166,1.90237 14.1834,1.90237 13.7929,2.29289 L8.5,7.58579 L7.70711,6.79289 C7.31658,6.40237 6.68342,6.40237 6.29289,6.79289 C5.90237,7.18342 5.90237,7.81658 6.29289,8.20711 L7.79289,9.70711 C7.98043,9.89464 8.23478,10 8.5,10 C8.76522,10 9.01957,9.89464 9.20711,9.70711 L15.2071,3.70711 C15.5976,3.31658 15.5976,2.68342 15.2071,2.29289 Z"/>
						</svg>
						ShiftBell
					</a>
				</div>
			</nav>
			<div class="container">
			<form hx-post="/chores" hx-swap="none">
				<div class="my-3">Add Chore</div>
				<div class="my-3">
					<label for="inputItem" class="form-label">Description</label>
					<input type="string" class="form-control" id="inputItem" name="description">
				</div>
				<div class="my-3">
					<label for="inputItem" class="form-label">Interval days</label>
					<input type="number" class="form-control" id="inputItem" name="interval-days">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			</div>
			<div
				class="container mt-3"
				hx-get={ "/chores" + "?offset=" + strconv.Itoa(offset) +"&limit=" + strconv.Itoa(limit) }
				hx-trigger="load, load-chores from:body"
			>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
		</body>
	</html>
}
