package chores

import (
	"fmt"
	"github.com/bpsoos/shiftbell/internal/models"
	"time"
)

templ choreCard(chore *models.Chore) {
	<div class="card my-3">
		<div class="card-header border-bottom-0 d-flex align-items-center py-1 ps-1">
			<span class={ "col-auto me-auto p-1 badge text-bg-" + getDeadlineLevel(chore.Deadline) }>
				Due: { chore.Deadline.Format("2006-01-02") }
			</span>
			<span class="col-auto ms-auto">{ fmt.Sprintf("#%d",chore.Id) }</span>
		</div>
		<div class="card-body">
			<h5 class="card-title">
				{ chore.Name }
			</h5>
			<p class="card-text">
				{ chore.Description }
			</p>
			@markCompleteButton(chore)
		</div>
	</div>
}

func getDeadlineLevel(deadline time.Time) string {
	now := time.Now()
	if deadline.Before(now) || deadline.Sub(now) <= 24*time.Hour {
		return "danger"
	}
	if deadline.Sub(now) > 24*time.Hour && deadline.Sub(now) <= 7*24*time.Hour {
		return "warning"
	}
	return "secondary"
}

templ markCompleteButton(chore *models.Chore) {
	<form
		hx-patch={ fmt.Sprintf("/chores/%d", chore.Id) }
		hx-swap="none"
		hx-target="closest .card"
	>
		<input type="hidden" value="completed" name="status" id="status"/>
		<button type="submit" class="btn btn-success">
			Mark Complete
		</button>
	</form>
}
