package chores

import (
	"github.com/bpsoos/shiftbell/internal/models"
	"github.com/bpsoos/shiftbell/internal/view/layouts"
	"time"
)

templ newChorePage() {
	@choreTypeSelector()
	@layouts.Nav("chores")
	<div class="container mt-3" style="min-width: fit-content">
		@createForm()
	</div>
}

templ createForm() {
	<div class="container my-3 row justify-content-center">
		<div class="card shadow-sm">
			<style>
				me {
					@media lg {
						width: 50%;
					}
				}
			</style>
			<div class="card-header bg-body">
				Add chore
			</div>
			<div class="card-body">
				<form hx-post="/chores" hx-swap="none">
					<style>
					me input::placeholder {
						opacity: 0.55;
					}
					me textarea::placeholder {
						opacity: 0.55;
					}
				</style>
					<fieldset class="mb-4">
						<legend class="mb-2">Type</legend>
						@selectInputTypeButtonGroup(nil)
					</fieldset>
					@baseInputs(nil)
					<div class="mb-3">
						<label for="deadline" class="form-label">Deadline</label>
						<input
							type="date"
							class="form-control mb-3"
							id="deadline"
							name="deadline"
							min="1970.01.01"
							max="2100.01.01"
							value={ time.Now().Format("2006-01-02") }
							required
						/>
					</div>
					@submitRow(nil)
				</form>
			</div>
		</div>
	</div>
}

templ submitRow(attrs templ.Attributes) {
	<div
		id="submitRow"
		{ attrs... }
	>
		if selectedChoreType(ctx) == nil && !isManual(ctx) {
			<div class="bg-info-subtle border-4 border-start border-info p-2 my-2">
				<text>Select a chore type to continue</text>
			</div>
		}
		<div
			class="row justify-content-between"
		>
			<style>
				me button {
					max-width: 8rem;
				}
			</style>
			<button type="submit" class="ms-2 col btn btn-secondary">Cancel</button>
			<button
				type="submit"
				if !isManual(ctx) && models.GetSelectedChoreType(ctx) == nil {
					disabled
				}
				class="me-2 col btn btn-primary"
			>
				Add
			</button>
		</div>
	</div>
}

templ choreTypeSelector() {
	<div
		class="modal fade"
		id="choreTypeSelector"
		tabindex="-1"
	>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Select a chore type</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="choreTypeList">
					@searchChoreTypes()
					@choreTypesSelectionTable()
				</div>
			</div>
		</div>
	</div>
	<script>
		document.body.addEventListener("htmx:beforeSwap", function (evt) {
			const target = evt.detail.target;

			if (!target || target.id !== "baseInputs") return;

			const modalElement = document.getElementById("choreTypeSelector");
			if (!modalElement) return;

			const modal = bootstrap.Modal.getInstance(modalElement);
			console.debug(modal);
			if (modal) {
				modal.hide();
			}
		});

		document.getElementById("choreTypeSelector")?.addEventListener("hidden.bs.modal", function () {
			document.body.classList.remove("modal-open");
			document.body.style.removeProperty("overflow");
			document.body.style.removeProperty("padding-right");
			document.querySelectorAll(".modal-backdrop").forEach(el => el.remove());
		});
	</script>
}

templ searchChoreTypes() {
	<input
		class="form-control"
		type="search"
		name="search"
		placeholder="Begin typing to search chore types..."
		hx-get="/choretypes?content=selector&searchquery=placeholder"
		hx-target="#chore-type-selector"
		hx-indicator=".htmx-indicator"
	/>
}

templ choreTypesSelectionTable() {
	<table
		class="table"
		hx-get="/choretypes?content=selector"
		hx-target="#chore-type-selector"
		hx-trigger="load"
	>
		<thead>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody id="chore-type-selector"></tbody>
	</table>
}

templ manualChoreTypeInputs() {
	<div class="mb-3">
		<label for="name" class="form-label">Name</label>
		<input
			type="text"
			class="form-control"
			id="name"
			name="name"
			placeholder="e.g. Take out the trash"
		/>
	</div>
	<div class="mb-3">
		<label for="description" class="form-label">Description</label>
		<textarea
			rows="4"
			class="form-control"
			id="description"
			name="description"
			placeholder="e.g. Clean the bin and make sure to insert a new bag after taking out the old one."
		></textarea>
	</div>
}

templ readonlyChoreTypeInputs() {
	if selectedChoreType(ctx) != nil {
		<div class="mb-2">
			<label for="name" class="form-label">Name</label>
			<input
				type="text"
				class="form-control text-bg-secondary"
				id="name"
				name="name"
				value={ selectedChoreType(ctx).Name }
				readonly
			/>
		</div>
		<div class="mb-2">
			<label for="description" class="form-label">Description</label>
			<textarea
				rows="4"
				class="form-control text-bg-secondary"
				id="description"
				name="description"
				readonly
			>
				{ selectedChoreType(ctx).Description }
			</textarea>
		</div>
		<div>
			<label for="selectChoreTypeButton" class="form-label">Change Chore Type</label>
			<button
				id="selectChoreTypeButton"
				type="button"
				class="btn btn-outline-info w-100"
				data-bs-toggle="modal"
				data-bs-target="#choreTypeSelector"
			>
				Change
			</button>
		</div>
	} else {
		<div class="mb-4">
			<div class="bg-info-subtle border-4 border-start border-info p-2 mb-2">
				<text>No chore type selected yet</text>
			</div>
			<label for="selectChoreTypeButton" class="form-label" hidden>No chore type selected yet</label>
			<button
				id="selectChoreTypeButton"
				type="button"
				class="btn btn-outline-secondary w-100"
				data-bs-toggle="modal"
				data-bs-target="#choreTypeSelector"
			>
				Select
			</button>
		</div>
	}
}

templ selectInputTypeButtonGroup(attrs templ.Attributes) {
	<div
		id="selectInputTypeButtonGroup"
		{ attrs... }
		class="btn-group"
		role="group"
		aria-label="Chore input select button group"
	>
		<input
			hx-get="/chores/new?field=inputTypeSelector&field=baseInputs&inputType=selectChoreType"
			hx-target="#selectInputTypeButtonGroup"
			autocomplete="off"
			type="radio"
			class="btn-check"
			id="selectChoreTypeBasedInput"
			name="inputTypeSelector"
			if !isManual(ctx) {
				checked
			}
		/>
		<label class="btn btn-outline-secondary" for="selectChoreTypeBasedInput">Chore Type Based</label>
		<input
			hx-get="/chores/new?field=inputTypeSelector&field=baseInputs&inputType=manual"
			hx-target="#selectInputTypeButtonGroup"
			hx-swap="innerHTML"
			autocomplete="off"
			type="radio"
			class="btn-check"
			id="selectManualInput"
			name="inputTypeSelector"
			if isManual(ctx) {
				checked
			}
		/>
		<label class="btn btn-outline-secondary" for="selectManualInput">Manual</label>
	</div>
}

templ baseInputs(attrs templ.Attributes) {
	<div
		id="baseInputs"
		{ attrs... }
	>
		if !isManual(ctx) {
			<fieldset id="selectedChoreType" class="card p-4 mb-4">
				@selectedChoreTypeFieldset()
			</fieldset>
		} else {
			@manualChoreTypeInputs()
		}
	</div>
}

templ selectedChoreTypeFieldset() {
	<legend class="mb-2">Chore Type</legend>
	@readonlyChoreTypeInputs()
}
