package chores

import (
	choremodels "github.com/bpsoos/shiftbell/internal/models/chores"
	choretemplatemodels "github.com/bpsoos/shiftbell/internal/models/choretemplates"
	"github.com/bpsoos/shiftbell/internal/view/layouts"
)

templ page(
	offset int,
	limit int,
	results *choremodels.GetChoreBatchResult,
	choreTemplates *choretemplatemodels.GetChoreTemplateBatchResult,
	selectedChoreTemplate *choretemplatemodels.ChoreTemplate,
) {
	@choreTemplateSelector()
	@layouts.Nav("chores")
	<div class="container mt-3" style="min-width: fit-content">
		<div class="row justify-content-between px-0">
			<div class="col">
				@searchBar()
			</div>
			<div class="col-lg-2">
				@newChoreLink()
			</div>
		</div>
		<div class="row">
			@table(offset, limit, results)
		</div>
	</div>
}

templ searchBar() {
	<div class="input-group">
		<input type="text" class="form-control" placeholder="search"/>
		<button class="btn btn-outline-secondary" type="button" id="button-addon2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
			</svg>
		</button>
	</div>
}

templ newChoreLink() {
	<a
		class="btn btn-primary w-100"
		hx-get="/chores/new"
		hx-target="body"
	>
		New chore
	</a>
}
