package chores

import (
	"github.com/bpsoos/shiftbell/internal/models"
	"github.com/bpsoos/shiftbell/internal/view/layouts"
)

templ page(offset int, limit int, results *models.GetChoreBatchResult) {
	@layouts.Nav("chores")
	<div class="container card mt-3 shadow-sm" style="min-width: fit-content">
		@table(offset, limit, results)
	</div>
}
