package chores

import (
	"fmt"
	"github.com/bpsoos/shiftbell/internal/models"
)

templ table(offset int, limit int, result *models.GetChoreBatchResult) {
	<div
		id="chores-table-container"
		hx-get={ getBatchUrlWithQuery(offset, limit, "table") }
		hx-push-url={ getBatchUrlWithQuery(offset, limit, "all") }
		hx-trigger="load-chores from:body delay:0.4s"
		hx-swap="outerHTML"
		style="min-width: fit-content"
	>
		<style>
			me div.htmx-swapping {
				opacity: 0;
				transition: opacity 0.5s ease-out;
			}
		</style>
		for _, chore := range result.Chores {
			@choreCard(&chore)
		}
		<div class="my-2 px-3">
			<div class="row">
				<button
					type="button"
					class="col text-center btn btn-secondary"
					hx-get={ getBatchUrlWithQuery(offset-limit, limit, "table") }
					hx-push-url={ getBatchUrlWithQuery(offset-limit, limit, "all") }
					hx-target="#chores-table-container"
					if offset == 0 {
						disabled
					}
				>
					←
				</button>
				<div class="col-8"></div>
				<button
					type="button"
					class="col text-center btn btn-secondary"
					hx-get={ getBatchUrlWithQuery(offset+limit, limit, "table") }
					hx-push-url={ getBatchUrlWithQuery(offset+limit, limit, "all") }
					hx-target="#chores-table-container"
					if !result.More {
						disabled
					}
				>
					→
				</button>
			</div>
		</div>
	</div>
}

func getBatchUrlWithQuery(offset int, limit int, content string) string {
	return fmt.Sprintf("/chores?status=incomplete&offset=%d&limit=%d&content=%s", offset, limit, content)
}
