package icons

templ Edit() {
	<svg width="1.4em" height="1.4em" viewBox="0 0 24 24" fill="none">
		<path opacity="0.15" d="M8 16H12L18 10L14 6L8 12V16Z" fill="currentColor"></path>
		<path d="M14 6L8 12V16H12L18 10M14 6L17 3L21 7L18 10M14 6L18 10M10 4L4 4L4 20L20 20V14" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
	</svg>
}

templ KebabMenu() {
	<svg width="1.4rem" height="1.4rem" viewBox="0 0 24 24" fill="none">
		<circle cx="12" cy="6" r="2" transform="rotate(90 12 6)" fill="currentColor"></circle>
		<circle cx="12" cy="12" r="2" transform="rotate(90 12 12)" fill="currentColor"></circle>
		<path d="M12 20C10.8954 20 10 19.1046 10 18C10 16.8954 10.8954 16 12 16C13.1046 16 14 16.8954 14 18C14 19.1046 13.1046 20 12 20Z" fill="currentColor"></path>
	</svg>
}
