package choretemplates

import (
	"fmt"
	"github.com/bpsoos/shiftbell/internal/models"
)

templ selector(offset int, limit int, choreTemplates *models.GetChoreTemplateBatchResult) {
	for _, choreTemplate := range choreTemplates.ChoreTemplates {
		<tr>
			<td>
				<a
					class="btn btn-primary"
					hx-get={ fmt.Sprintf("/chores/new?choreTemplateId=%d&inputType=selectChoreTemplate&field=baseInputs", choreTemplate.Id) }
					hx-target="#baseInputs"
				>
					Select
				</a>
			</td>
			<td>{ fmt.Sprintf("%d", choreTemplate.Id) }</td>
			<td><label for={ fmt.Sprintf("chore-template-%d", choreTemplate.Id) } class="mb-0">{ choreTemplate.Name }</label></td>
			<td>{ choreTemplate.Description }</td>
		</tr>
	}
}
