package choretypes

import (
	"github.com/bpsoos/shiftbell/internal/models"
	"github.com/bpsoos/shiftbell/internal/view/layouts"
)

templ page(offset int, limit int, results *models.GetChoreTypeBatchResult) {
	@layouts.Nav("choretypes")
	<div class="container">
		<div class="row">
			<div class="container col-lg-3">
				<style>
					@media lg {
						me {
							order: 2
						}
					}
				</style>
				@createForm()
			</div>
			<div class="container mt-3 col-lg-7 card shadow-sm">
				<style>
					@media lg {
						me {
							order: 1
						}
					}
				</style>
				@table(offset, limit, results)
			</div>
		</div>
	</div>
}

templ createForm() {
	<div class="container my-3">
		<div class="card shadow-sm">
			<div class="card-header bg-body">
				Add chore type
			</div>
			<div class="card-body">
				<form hx-post="/choretypes" hx-swap="none">
					<style>
					me input::placeholder {
						opacity: 0.55;
					}
					me textarea::placeholder {
						opacity: 0.55;
					}
				</style>
					<div class="mb-3">
						<label for="name" class="form-label">Name</label>
						<input
							type="text"
							class="form-control"
							id="name"
							name="name"
							placeholder="e.g., Take out trash"
							required
						/>
					</div>
					<div class="mb-3">
						<label for="description" class="form-label">Description</label>
						<textarea
							rows="4"
							class="form-control"
							id="description"
							name="description"
							min="1"
							placeholder="(optional) — e.g., Empty the bin, replace the bag with a new one, make sure to clean the bin if needed"
						></textarea>
					</div>
					<button type="submit" class="btn btn-primary w-100">Add</button>
				</form>
			</div>
		</div>
	</div>
}
