package choretypes

import (
	"fmt"
	"github.com/bpsoos/shiftbell/internal/models"
)

templ selector(offset int, limit int, result *models.GetChoreTypeBatchResult) {
	for _, choreType := range result.ChoreTypes {
		<tr>
			<td>
				<a
					class="btn btn-primary"
					hx-get={ fmt.Sprintf("/chores/new?choreTypeId=%d", choreType.Id) }
					hx-target="body"
					hx-swap="outerHTML"
				>
					Select
				</a>
			</td>
			<td>{ fmt.Sprintf("%d", choreType.Id) }</td>
			<td><label for={ fmt.Sprintf("chore-type-%d", choreType.Id) } class="mb-0">{ choreType.Name }</label></td>
			<td>{ choreType.Description }</td>
		</tr>
	}
}
